<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if tasks_list %}
{% for c in tasks_list %}
        <div class="task_item">
          <p>Индификатор: {{c.id}}</p>
          <p>Название: {{c.task_name}}</p>
          <p>Описание: {{c.task_text}}</p>
          <p>Статус: {{c.task_status}}</p>
          <p>Дата: {{c.start_date}} - {{c.end_date}}</p>
          <hr>
        </div>
{% endfor %}
{% else %}
<p>На это число нет задач</p>
{% endif %}
<form method="get">
        <button name="action" value="back">Вернуться</button>
    </form>
</body>
</html>
